<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div>
                    @Html.ActionLink("Андрей Кайманов", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
                    <p>Санкт-Петербург / Пенза</p>
                    <p>Тел. / Telegram: +7 (903) 324 4476</p>
                </div>
                <div>
                    <a target="_blank" href="http://vk.com/indrikozver"><img src="/Content/img/vk_logo.png"/></a>
                    <a target="_blank" href="http://instagram.com/andreykaymanov"><img src="/Content/img/instagram_logo.png"/></a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Портфолио", "Index", "Portfolio")</li>
                    <li>@Html.ActionLink("Контакты", "Index", "Contact")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
