<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar">
        <div class="container">
            <div class="navbar-header">
                <div class="brand-container">
                    @Html.ActionLink("Андрей Кайманов", "Index", "Home")
                    <p>Санкт-Петербург / Пенза</p>
                    <p>Тел. / Telegram / Viber: +7 (903) 324 4476</p>
                </div>
            </div>
            <div class="right">
                <a target="_blank" href="http://vk.com/indrikozver"><img src="/Content/img/vk_logo.png" /></a>
                <a target="_blank" href="http://instagram.com/andreykaymanov"><img src="/Content/img/instagram_logo.png" /></a>
            </div>
        </div>
        <div class="navbar-collapse collapse container">
            <ul class="nav navbar-nav">
                <!--<li>@Html.ActionLink("портфолио", "Index", "Portfolio")</li>-->
                <li>@Html.ActionLink("контакты", "Index", "Contact")</li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-81464027-1', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>
